.advantages {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #242424;
  overflow-x: hidden;
}

.advantages__wrapper {
  width: 300%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.advantages__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;

  .pad-set(23px);
}

.advantages__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages__text {
  font-size: 20px;
  color: #f7f4f1;
  text-align: center;
}
