.card {
  margin-bottom: 20px;
  border-bottom: 1px solid @border-color;

  &--main {
    .card__illustration {
      position: relative;
    }
  }
}

.card__label {
  position: absolute;
  left: 0;
  bottom: 35px;
  z-index: 1;
  width: 175px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/label.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card__label-caption {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.card__description {
  padding-left: 20px;
}

.card__title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card__options {
  display: flex;
  flex-wrap: wrap;
}

.card__option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 140px;
  margin-left: 20px;
  margin-bottom: 15px;

  &:nth-child(2) + &--mustache {
    margin-left: 8px;
  }
}

.card__option-icon {
  margin-right: 14px;
}

.card__option-label {
  font-size: 16px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .card {
    display: flex;
    margin-bottom: 42px;
    border: none;
  }

  .card__illustration {
    width: 271px;

    img {
      display: block;
    }
  }

  .card__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 271px);
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid @border-color;
    border-left: none;
  }

  .card__label {
    bottom: auto;
    top: 35px;
    left: -2px;
  }

  .card__description {
    width: 85%;
    padding-left: 0;
  }

  .card__options {
    width: 100%;
  }

  .card__option {
    margin-left: 0;

    &:nth-child(2) + &--mustache {
      margin-left: -8px;
    }
  }
}
