.head-block {
  padding-top: 32px;
}

.head-block__title {
  width: 80%;
  margin: 0 auto;

  .title()
}

.head-block__text {
  font-size: 20px;
  text-align: center;
  width: 80%;
  margin: 20px auto;
}
