.title() {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
}

.pad-reset(@value) {
  margin-left: @value;
  margin-right: @value;
}

.pad-set(@value) {
  padding-left: @value;
  padding-right: @value;
}

.list-unstyle() {
  padding: 0;
  margin: 0;
  list-style: none;
}
