.reviews {
  padding-bottom: 16px;
}

.reviews__title {
  .title();
}

.reviews__button {
  display: none;
}

.reviews__control {
  display: none;
}

.reviews__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;

  &--2,
  &--3 {
    display: none;
  }
}

.reviews__image {
  width: 50px;
  margin-top: 12px;
}

.reviews__content {
  width: calc(100% - 50px);
  padding-left: 20px;
}

.reviews__name {
  margin-top: 0;
  margin-bottom: 9px;
}

.reviews__text {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .reviews {
    position: relative;
    padding-top: 38px;
    padding-bottom: 60px;
    background-color: #f8f5f2;
    // border-bottom: 1px solid @border-color;
  }

  .reviews__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 38px;
  }

  .reviews__title {
    font-size: 40px;
    margin: 0;
  }

  .reviews__button {
    display: block;
    width: 160px;
  }

  .reviews__wrapper {
    display: flex;
  }

  .reviews__control {
    display: flex;
    width: 50px;
    border: 1px solid @border-color;
    cursor: pointer;
  }

  .reviews__arrow {
    margin: auto;
  }

  .reviews__slides {
    width: calc(100% - 100px);
    padding-left: 30px;
    padding-right: 30px;
    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
  }

  .reviews__block {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .reviews__image {
    width: 80px;
    border-radius: 50%;
  }

  .reviews__name {
    font-size: 24px;
  }

  .reviews__nav {
    position: absolute;
    width: 125px;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: 0 auto;
    background-color: #f8f5f2;
  }
}
