header.page-header
  .container
    .page-header__wrapper
      .page-header__logo
        svg.page-header__logo-icon.page-header__logo-icon--mobile
          use(xlink:href='#logo-mobile')
        svg.page-header__logo-icon.page-header__logo-icon--tablet
          use(xlink:href='#logo-tablet')
        svg.page-header__logo-icon.page-header__logo-icon--desktop
          use(xlink:href='#logo-desktop')
      nav.page-header__nav.page-header__nav--main
        ul.page-header__menu.menu
          li.menu__item
            a.menu__item-link(href="index.html") Главная
          li.menu__item
            a.menu__item-link(href="photo.html") Наши работы
          li.menu__item
            a.menu__item-link(href="form.html") Записаться
          li.menu__item
            a.menu__item-link(href="http://") Контакты
          li.menu__item
            a.menu__item-link(href="http://") HTML Academy
      nav.page-header__nav.page-header__nav--user
        ul.page-header__user-menu
          li.page-header__user-menu-item
            a.menu__item-link(href="#")
          li.page-header__user-menu-item
            a.menu__item-link(href="#")
