extends blocks/layout
block title
  title Барбершоп "Бородинский"
block menu
  -var pageID = 0
//-   li.page-header__menu-item.page-header__menu-item--active
//-     a.page-header__menu-link(href="index.html") Главная
//-   li.page-header__menu-item
//-     a.page-header__menu-link(href="photo.html") Наши работы
//-   li.page-header__menu-item
//-     a.page-header__menu-link(href="form.html") Записаться
//-   li.page-header__menu-item
//-     a.page-header__menu-link(href="http://") Контакты
//-   li.page-header__menu-item
//-     a.page-header__menu-link(href="http://") HTML Academy
block content
  main
    div(style="display: none")
      include ../img/sprite.svg

    h1.visually-hidden Барбершоп "Бородинский"
    section.head-block
      .container
        .head-block__wrapper
          .head-block__description
            h2.head-block__title Стрижка у нас это выгодно!
            p.head-block__text.
              Мужская стрижка требует точного подхода.
              Обратимся к статистике:
          .head-block__stats
            .head-block__stat-block.head-block__stat-block--price
              h2.head-block__stat-title 1 500 <small>*</small>
              p.head-block__stat-text рублей вложений
            .head-block__stat-block.head-block__stat-block--time
              h2.head-block__stat-title 7 200
              p.head-block__stat-text секунд<br> времени мастера
            .head-block__stat-block.head-block__stat-block--hair
              h2.head-block__stat-title 90 000
              p.head-block__stat-text постриженных волос
            .head-block__stat-block.head-block__stat-block--likes
              h2.head-block__stat-title 500 000 <small>*</small>
              p.head-block__stat-text лайков и комплиментов
            .head-block__stat-block.head-block__stat-block--joke
              p.head-block__note * - приведённые данные ложь

    section.advantages
      .container
        .advantages__wrapper
          .advantages__block.advantages__block--fast
            .advantages__illustration
              img.advantages__icon(src='img/advantage-1.png', alt='Fast', width='95', height='94')
            .advantages__description
              h2.advantages__title Быстро
              p.advantages__text.
                Мы делаем свою работу быстро!
                Два часа пролетят незаметно <br>и Вы — счастливый обладатель стильной стрижки-минутки
          .advantages__block.advantages__block--cool
            .advantages__illustration
              img.advantages__icon(src='img/advantage-2.png', alt='Cool', width='95', height='88')
            .advantages__description
              h2.advantages__title Круто
              p.advantages__text.
                Забудьте, как вы стриглись раньше. Мы сделаем из Вас звезду футбола или кино.
                Во всяком случае внешне.
          .advantages__block.advantages__block--exp
            .advantages__illustration
              img.advantages__icon(src='img/advantage-3.png', alt='Expensive', width='95', height='91')
            .advantages__description
              h2.advantages__title Дорого
              p.advantages__text.
                Наши мастера — профессионалы своего дела и не могут стоить дёшево.
                К тому же, разве цена не даёт определённый статус?
        .advantages__nav
          ul.nav-list.nav-list--direct
            li.nav-list__item.nav-list__item
              a.nav-list__button.nav-list__button--active(href="#")
            li.nav-list__item
              a.nav-list__button(href="#")
            li.nav-list__item
              a.nav-list__button(href="#")

    section.news
      .container
        .news__head
          h2.news__title Новости и акции
          button.news__button.button(type='button') Показать все
        .news__wrapper
          .news__block.news__block--29
            .news__illustration
              img.news__icon(src='img/calendar-1.png', alt='29 сентября', width='50', height='60')
            p.news__text.
              Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.
          .news__block.news__block--19
            .news__illustration
              img.news__icon(src='img/calendar-2.png', alt='19 сентября', width='50', height='60')
            p.news__text.
              В нашей команде пополнение, Борис «Бритва» Стригунец,
              обладатель множества титулов и наград пополнил наши стройные ряды. Спешите записаться!
          .news__block.news__block--9
            .news__illustration
              img.news__icon(src='img/calendar-3.png', alt='9 сентября', width='50', height='60')
            p.news__text.
              Все дорожает, а наши стрижки нет! Как так?
              Приходите, постригитесь и узнаете, в чем здесь подвох!

    section.reviews
      .container
        .reviews__head
          h2.reviews__title Отзывы о нас
          button.reviews__button.button(type='button') Оставить свой
        .reviews__wrapper
          .reviews__control.reviews__control--left
            svg.reviews__arrow.reviews__arrow--left(width='12', height='12')
              polygon(points='0,6 12,0 12,12', fill='#000000')
          .reviews__slides
            .reviews__block.reviews__block--1
              img.reviews__image(src='img/tattoo-man-mobile@1x.jpg', alt='Трэвис Баркер', width='50', height='49')
              .reviews__content
                h3.reviews__name Трэвис Баркер
                p.reviews__text.
                  Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
            .reviews__block.reviews__block--2
              img.reviews__image(src='img/tattoo-man-mobile@1x.jpg', alt='Трэвис Баркер', width='50', height='49')
              .reviews__content
                h3.reviews__name Трэвис Баркер
                p.reviews__text.
                  Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
            .reviews__block.reviews__block--3
              img.reviews__image(src='img/tattoo-man-mobile@1x.jpg', alt='Трэвис Баркер', width='50', height='49')
              .reviews__content
                h3.reviews__name Трэвис Баркер
                p.reviews__text.
                  Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
          .reviews__control.reviews__control--right
            svg.reviews__arrow.reviews__arrow--right(width='12', height='12')
              polygon(points='12,6 0,0 0,12', fill='#000000')
        .reviews__nav
          ul.nav-list.nav-list--reverse
            li.nav-list__item.nav-list__item
              a.nav-list__button.nav-list__button--active(href="#")
            li.nav-list__item
              a.nav-list__button(href="#")
            li.nav-list__item
              a.nav-list__button(href="#")
